<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index.css">

  <!--
  <script src="/javascripts/lib/TParticles.js"></script>
  <script src="/javascripts/lib/socketio.js"></script>
  <script src="/javascripts/lib/howler.js"></script>
  <script src="/javascripts/Utils.js"></script>
  <script defer src="/javascripts/Game.js"></script>
  <script src='/javascripts/SoundManager.js'></script>
  <script src='/javascripts/NetworkManager.js'></script>
  <script src='/javascripts/Renderer.js'></script>
  <script src='/javascripts/Input.js'></script>
  <script defer src="/javascripts/UI.js"></script>
  <script defer src="/javascripts/Main.js"></script>
  -->

  <script defer src="/javascripts/pp.min.js"></script>

</head>
<body>
  <img id="background" src="/images/bg1.png" alt="background" style="display: none;">

  <div class="pregame-ui-container">
    <div class="menu-container">
      <div class="title-container">
        <h1>Poly-Pong</h1>
      </div>
    
      <div class="text-container">
        <span class="game-status-text">EMPTY</span>
      </div>
    
      <div class="btn-container">
        <input class="input-join" placeholder="INVITE CODE">
        <button class="btn-host">HOST</button>
        <button class="btn-join">JOIN</button>
      </div>
    
      <div class="btn-container">
        <button class="btn-changelog">What's New</button>
        <button class="btn-back">BACK</button>
      </div>
    </div>

    <div class="changelog-container hidden">
      <div class="changelog-header">
        <h1>What's New</h1>
      </div>
      <div class="changelog-body">
        <% for(let i = 0; i < releases.length; i++) { %>
          <div class="release">
            <div class="release-title">
              <a href="<%- releases[i].url %>">
                <h2><%= releases[i].name %></h2>
              </a>
            </div>
            <div class="release-body">
              <%- releases[i].description.html %>
            </div>
          </div>
        <% } %>
      </div>
      <div class="changelog-footer">
        <button class="btn-back">BACK</button>
      </div>
    </div>
  </div>

  <div class="canvas-container">
    <canvas id="canvas"></canvas>

    <!-- mobile controls -->
    <div class="mobile-container">
      <button class="btn-mobile-left">LEFT</button>
      <button class="btn-mobile-right">RIGHT</button>
    </div>
  </div>

  <!-- For automatically joining the game with invite link -->
  <script>
    let gID = "<%= gID %>";
  </script>
</body>
</html>
